<div class="container">
  <mat-toolbar fxLayout="row" mat-dialog-title color="primary">
    <h3 mat-dialog-title>Machinary</h3>

  </mat-toolbar>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <div class="form">
      <mat-form-field>
        <input matInput
          placeholder="Machine name"
          [(ngModel)]="data.nombre"
          name="nombre"
          [ngModelOptions]="{standalone: true}"
        >
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field>
        <textarea matInput placeholder="Description" [(ngModel)]="data.descripcion"
        name="desripcion" [ngModelOptions]="{standalone: true}"></textarea>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput
          placeholder="Stock"
          [(ngModel)]="data.stock"
          stock="stock"
          [ngModelOptions]="{standalone: true}"
        >
      </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field>
            <input matInput
              placeholder="Modelo"
              [(ngModel)]="data.modelo"
              modelo="modelo"
              [ngModelOptions]="{standalone: true}"
            >
          </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
          <input matInput
            placeholder="Marca"
            [(ngModel)]="data.marca"
            name="marca"
          >
        </mat-form-field>
    </div>
    <div class="form">
        <mat-form-field>
            <mat-label>Select a type</mat-label>
            <mat-select [(value)]="data.idTipoMaquinaria">
              <mat-option value="1">Pesado</mat-option>
              <mat-option value="2">Agricola</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <mat-select [(ngModel)]="categoria.id" name="categoria" (selectionChange)="filterByCategory()">
          <mat-option *ngFor="let categ of categories" [value]="categ.id">
            {{categ.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <label for="uploadPicture" class="upload-file">
        Add a image
      </label>
      <input #imageInput
         type="file"
        accept="image/*"
        (change)="saveImage(imageInput)"
       ><br>
      <p *ngIf="currentImage">
        <img [attr.src]="currentImage.src"
          id="photo-id"
          width="50px" height="50px" />
      </p>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="saveMachinery()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>


